<h1>Where We Are </h1>
<div class="row">
	<div class="col-xs-3">
		<h3>Address</h3>
		<address>
			Av. Educación Tecnológica No.34, Fracc. Universidad, <br/> 37800 Dolores Hidalgo Cuna de la Independencia <br/>Nacional, Gto.
		</address>
	</div>
	<div class="col-xs-9">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14882.50000909042!2d-100.9315252!3d21.1673168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73de4acae36f6103!2sUniversidad+Tecnol%C3%B3gica+del+Norte+de+Guanajuato!5e0!3m2!1ses!2smx!4v1494178355983" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>